# Activity 2 : Part B

Loading required libraries

In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Reading player and team data from respective CSV.

In [2]:
players <- read.csv("player.csv")
teams <- read.csv("team.csv")

<b>Q) Which are the top 10 players by overall rating?<b>

In [3]:
Answer1<-tbl_df(data.frame(Player_names=players$PlayerNamesByOverall,Overall_Rating=players$ByOverallRating ))
Answer1

   Player_names      Overall_Rating
1  Lionel Messi      94
2  Gianluigi Buffon  93
3  Wayne Rooney      93
4  Cristiano Ronaldo 93
5  Xavi Hernandez    92
6  Gregory Coupet    92
7  Thierry Henry     91
8  John Terry        91
9  Iker Casillas     91
10 Alessandro Nesta  91

<b>Q) Which are the top 10 goalkeepers by sum of gk attributes?</b>

In [4]:
Answer2 <- tbl_df(data.frame(Player_names=players$PlayerNamesByGKR,GK_Rating=players$ByGKRating))
Answer2

   Player_names      GK_Rating
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Pepe Reina        428

<b>Q) Which are the top 10 players by number of appearances (with any team they played with)?</b>

In [5]:
Answer3 <- tbl_df(data.frame(Player_names=players$PlayerNamesByAppear,Appearances=players$ByAppearances))
Answer3

   Player_names         Appearances
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

<b>Q) Which are the top 10 players by number of leagues they played in?</b>

In [6]:
Answer4 <- tbl_df(data.frame(Player_names=players$PlayerNamesByLeages,Leagues=players$ByLeagues))
Answer4

   Player_names          Leagues
1  Gelson Fernandes      6
2  Ricky van Wolfswinkel 5
3  Filip Djuricic        5
4  Radamel Falcao        4
5  Jonathan De Guzman    4
6  Almen Abdi            4
7  Ibrahim Afellay       4
8  Edson Braafheid       4
9  Eljero Elia           4
10 Danijel Pranjic       4

<b>Q) Which are the top 10 teams by sum of build up play attributes?</b>

In [7]:
Answer5 <- tbl_df(data.frame(Team_Names=teams$TeamNamesByBuild,Buils_Up_Play_Attr=teams$ByBuild))
Answer5

   Team_Names                 Buils_Up_Play_Attr
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biała 193
5  Korona Kielce              192
6  Widzew Łódź                190
7  Widzew Łódź                190
8  Carpi                      190
9  FC Nantes                  189
10 Sassuolo                   188

<b>Q) Which are the top 10 teams by sum of chance creation attributes?</b>

In [8]:
Answer6 <- tbl_df(data.frame(Team_Names=teams$TeamNamesByChance, Chanec_creation_Attr=teams$ByChanceAttributes))
Answer6

   Team_Names          Chanec_creation_Attr
1  Lazio               220
2  SV Werder Bremen    216
3  Napoli              215
4  Bayer 04 Leverkusen 210
5  Burnley             210
6  Cardiff City        210
7  Manchester City     210
8  Aberdeen            210
9  Rangers             210
10 Tottenham Hotspur   210

<b>Q) Which are the top 10 teams by sum of defense attributes?</b>

In [9]:
Answer7 <- tbl_df(data.frame(Team_Names=teams$TeamNamesByDef, Defense_Attr=teams$byDefAtrributes))
Answer7

   Team_Names            Defense_Attr
1  Jagiellonia Białystok 210
2  SC Bastia             210
3  Zagłębie Lubin        210
4  Leicester City        210
5  Cardiff City          210
6  1. FC Kaiserslautern  210
7  Southampton           210
8  AS Nancy-Lorraine     210
9  Blackpool             210
10 Stade Brestois 29     210

<b>Q) Which are the top 10 teams by number of scored goals?</b>

In [10]:
Answer8 <- tbl_df(data.frame(Team_Names=teams$TeamsByGoals,Goals=teams$ByGoals))
Answer8

   Team_Names        Goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582